@import 'nomalize';

* {
  font-family: Apple SD Gothic Neo, 'Apple SD 산돌고딕 Neo', NanumGothic, '나눔고딕', ng, sans-serif;
}

html {
  background-color: #efefef;

  body {
    background-color: transparent;
  }
}
